/target
/classes
/checkouts
pom.xml
pom.xml.asc
*.jar
*.class
/.lein-*
/.nrepl-history
/.nrepl-port
.hgignore
.hg/
/src/gamebase_ecs/auto/core1.el
/src/gamebase_ecs/core1.pdf
/src/gamebase_ecs/core1.tex
